<div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">Préambule</a></li>
        <li><a href="#rentree" data-toggle="tab">Chapitre 1</a></li>
        <li><a href="#chien" data-toggle="tab">Chapitre 2</a></li>
        <li><a href="#lys" data-toggle="tab">Chapitre 3</a></li>
        <li><a href="#bachelier" data-toggle="tab">Chapitre 4</a></li>
        <li><a href="#famille" data-toggle="tab">Chapitre 5</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="about">
            @Html.Partial("Articles/Anecdote-10")
        </div>
        <div class="tab-pane" id="rentree">
            @Html.Partial("Articles/Anecdote-11")
        </div>
        <div class="tab-pane" id="chien">
            @Html.Partial("Articles/Anecdote-12")
        </div>
        <div class="tab-pane" id="lys">
            @Html.Partial("Articles/Anecdote-13")
        </div>
        <div class="tab-pane" id="bachelier">
            @Html.Partial("Articles/Anecdote-14")
        </div>
        <div class="tab-pane" id="famille">
            @Html.Partial("Articles/Anecdote-15")
        </div>
        <div class="tab-pane" id="settings">

        </div>
    </div>
</div>
