<div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#0402participants" data-toggle="tab">Participants</a></li>
        <li><a href="#0402id1" data-toggle="tab">Chronique 1</a></li>
        <li><a href="#0402id2" data-toggle="tab">Chronique 2</a></li>
        <li><a href="#0402id3" data-toggle="tab">Chronique 3</a></li>
        <li><a href="#0402id4" data-toggle="tab">Chronique 4</a></li>
        <li><a href="#0402id5" data-toggle="tab">Chronique 5</a></li>
        <li><a href="#0402id6" data-toggle="tab">Chronique 6</a></li>
        <li><a href="#0402id7" data-toggle="tab">Chronique 7</a></li>
        <li><a href="#0402id8" data-toggle="tab">Chronique 8</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="0402participants">
            @Html.Partial("Articles/Rencontres0402-participants")
        </div>
        <div class="tab-pane" id="0402id1">
            @Html.Partial("Articles/Rencontres0402-01")
        </div>
        <div class="tab-pane" id="0402id2">
            @Html.Partial("Articles/Rencontres0402-02")
        </div>
        <div class="tab-pane" id="0402id3">
            @Html.Partial("Articles/Rencontres0402-03")
        </div>
        <div class="tab-pane" id="0402id4">
            @Html.Partial("Articles/Rencontres0402-04")
        </div>
        <div class="tab-pane" id="0402id5">
            @Html.Partial("Articles/Rencontres0402-05")
        </div>
        <div class="tab-pane" id="0402id6">
            @Html.Partial("Articles/Rencontres0402-06")
        </div>
        <div class="tab-pane" id="0402id7">
            @Html.Partial("Articles/Rencontres0402-07")
        </div>
        <div class="tab-pane" id="0402id8">
            @Html.Partial("Articles/Rencontres0402-08")
        </div>
    </div>
</div>
