@model Ja.Mvc.Acdf.Models.AcdfSubCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AcdfSubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcdfCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcdfCategory.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
