@model Ja.Mvc.Acdf.Models.HomePageViewModel

@foreach (var item in Model.AspNetUsers)
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="@item.AvatarUrl" title="@item.FirstName @item.LastName" alt="@item.UserName" width="50" height="50" />
        </div>
        <div class="panel-body">
            <b>@Html.DisplayFor(modelItem => item.FirstName)</b> @Html.DisplayFor(modelItem => item.LastName)<br />
        </div>
        <div class="panel-footer">
            Birthday: <b>@Html.DisplayFor(modelItem => item.BirthDate)</b><br />
            Last Year: <b>@Html.DisplayFor(modelItem => item.LastYearSchool)</b><br />
            Registration: <b>@Html.DisplayFor(modelItem => item.RegistrationDate)</b><br />
        </div>
    </div>
}
<hr />