@model Ja.Mvc.Acdf.Models.HomePageViewModel
<a name="recentphoto" />
@foreach (var item in @Model.PhotosMonth)
{
    <div class="thumbnail">
        @{string myTitle = item.SchoolPeriod + " : " + item.Place;}
        <a class="fancybox" title="@myTitle" href="@item.Path">
            <img src="@item.ThumbPath" alt="" />
        </a>
        <div class="caption">
            <h4>@item.UserName</h4>
            <p>@item.Date.Value.ToShortDateString()</p>
        </div>
    </div>
}
<hr />
