@model Ja.Mvc.Acdf.Models.HomePageViewModel

@foreach (var item in Model.GuessBooksMonth)
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="@item.AspNetUser.AvatarUrl" title="@item.AspNetUser.FirstName @item.AspNetUser.LastName" alt="@item.AspNetUser.FirstName @item.AspNetUser.LastName" width="25" />
        </div>
        <div class="panel-body">
            <b>@Html.DisplayFor(modelItem => item.Date)</b><br />
            @Html.TextAreaFor(modelItem => item.Message, new { @class = "border-box", @readonly = true, rows = "3", disabled = true })
        </div>

        <div class="panel-footer">
            <b>@Html.DisplayFor(modelItem => item.AspNetUser.Pseudo)</b>
        </div>
    </div>
}
<hr />
