<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Dernières infos</h4>
    </div>

    <div class="panel-body">
        <p>Les dernières infos du site</p>
        <div class="panel-group" id="accordionLastInfo">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" title="Utlisation" href="#collapseLastInfo">
                            Lire
                        </a>
                    </h4>
                </div>
                <div id="collapseLastInfo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Version 2 du site</h4>
                        <div class="well-sm alert alert-danger">
                            <p>
                                Comme promis et avec un mois d'avance, voici la nouvelle version du site.
                            </p>
                            <p>
                                La partie documentaire (photos, docs, vidéos...) n'a pas changée. Par contre la partie enregistrement a été entièrement revue et simplifiée.
                            </p>
                            <p>
                                Consultez cette @Html.ActionLink("page", "About") pour plus d'informations.
                            </p>
                            <p>Ces nouvelles fonctionnalités vous obligent à vous enregistrer à nouveau.</p>
                            <p>IMPORTANT ! Prennez deux minutes pour remplir votre @Html.ActionLink("profil", "ChangeProfile", "Manage").</p>
                            <p>Enfin, cela fait toujours plaisir, laissez nous un petit mot sur le @Html.ActionLink("Livre d'or", "Create","GuessBook").</p>
                            <p>Si vous détectez une anomalie, faites-le moi savoir: <i class="fa fa-envelope-o"></i> <a href="mailto:foucauld.casa@live.fr">foucauld.casa@live.fr</a></p>
                        </div>

                        <h4>A vous de jouer</h4>
                        <div class="well-sm alert alert-warning">
                            <p>
                                Y'a plus qu'à ! Pour les courageux qui ont quelques instants à consacrer au site.<br>
                                @*Vous connecter et commenter les <b>@JA.Helpers.Utils.GetGlobalValue(this.Context, "CountAcdfPhotos")</b> photos du site*@
                                Vous connecter et commenter les <b>@ViewBag.CountAcdfPhotos</b> photos du site
                            </p>
                            <p>
                                <em>Astuce: aidez vous de l'ancien site <a href="/p-jalvarez/foucauld/docPhotos.shtm" target="_blank" title="OLD ACDF Site">ICI <i class="fa fa-external-link"></i></a> (Bon courage ! et merci pour votre participation.)</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @*<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>*@
    </div>
</div>
