@{
    ViewBag.Title = "Anecdotes";
}

<h2>@ViewBag.Message</h2>
<div class="container">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        LE TEMPS RETROUVÉ OU LES MÉMOIRES D'UN ANCIEN CANCRE
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                @Html.Partial("Articles/Anecdote-01")
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        A propos du Père Salla 1/2
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("Articles/Anecdote-02")
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        A propos du Père Salla 2/2
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("Articles/Anecdote-03")
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Khadija Benjelloun
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("Articles/Anecdote-04")
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        A propos des photos de l'été 1978 (Père Sabatté)
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("Articles/Anecdote-05")
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        La Légende de la Cavalerie Jaune
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("Articles/Anecdote-06")
                </div>
            </div>
        </div>
</div>

</div>

